 <%if @current_user != nil%>

  <h1><%= @place["name"] %></h1>


  <p>My Entries</p>
  <div class ="row">
  <% for entry in @entries %>
  <div class =" col-sm-6 col-md-3">
    <p><%= entry["title"] %></p>
    <p><%= entry["occurred_on"] %></p>
    <p><%= entry["description"] %></p>
    <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
  </div>
  <% end %>

  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>" class = "btn btn-success">New Entry</a>
  </p>

  <p>
    <a href="/places" class = "btn btn-success">Back to All Places</a>
  </p>

   <% else %>
     <p>Kindly Login</p>

  <% end %>